/* Reset CSS */
body {
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGtqbMD1I2yDATp8wRwbIdiVyPJ41BJYrDCg&s'); /* Ruta relativa a la carpeta public */
background-size: cover; /* Ajusta el tamaño de la imagen al tamaño del cuerpo */
background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
background-attachment: fixed; /* Fija la imagen de fondo para que no se desplace con el contenido */
}

html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0.20%;
    border: 1%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav {
    display: block;
    text-align: center;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
