body {
    margin: 1%;
    background-image: url('../public/fondo.png'); /* Ruta relativa a la carpeta public */
    background-size: cover; /* Ajusta el tamaño de la imagen al tamaño del cuerpo */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    background-attachment: fixed; /* Fija la imagen de fondo para que no se desplace con el contenido */
  }
  
.container {
    display: flex; /* Utilizamos flexbox para alinear los elementos en línea */
    align-items: center; /* Alinea los elementos verticalmente en el centro */
    justify-content: space-between; /* Distribuye los elementos a lo largo del contenedor */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 5px solid #000000;
    border-radius: 10px;
    background: radial-gradient(circle farthest-corner at center, #091B52, #0E50CE, #FFFFFF);
    flex-direction: row; /* Cambia a dirección horizontal */
  }
  
    /* Estilos opcionales para los botones y el SearchBar */
    button{
      margin: 5px; /* Agrega un pequeño margen entre los elementos */
    }
    
    .SearchBar {
      order: 1; /* Cambia el orden para que la SearchBar esté a la izquierda */
    }