.section-container{
display: flex; /* Utiliza el modelo de caja flexible */
flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas si no caben en una sola */
gap: 1%; /* Espacio entre las tarjetas, el 1% del tamaño del contenedor */
justify-content: center; /* Centra los elementos a lo largo del eje principal (horizontalmente) */
}
.section-container h1, h3{
color: #000000;
width: 100%;
text-align: center;
}
.card-info{
width: 100%; /* Ancho de la tarjeta, el 10% del tamaño del contenedor (DIFERENCIA)*/
background-color: #333; /* Color de fondo oscuro */
padding: auto; /* Espaciado interno del contenido */
text-align: center; /* Alineación del texto al centro */
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Sombra más fuerte para la tarjeta */
}
.card-technology{
width: 15%; /* Ancho de la tarjeta, el 10% del tamaño del contenedor  (DIFERENCIA)*/
background-color: #333; /* Color de fondo oscuro */
padding: 0.4%; /* Espaciado interno del contenido */
text-align: center; /* Alineación del texto al centro */
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Sombra más fuerte para la tarjeta */
}
.card-technology img {
width: 70%; /* Imagen con ancho máximo del contenedor */
}
.card-form-activities {
width: 100%; /* Ancho de la tarjeta, el 10% del tamaño del contenedor */
background-color: #333; /* Color de fondo oscuro */
padding: auto; /* Espaciado interno del contenido */
text-align: center; /* Alineación del texto al centro */
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Sombra más fuerte para la tarjeta */
display: flex; /* Utiliza el modelo de caja flexible (DIFERENCIA) */
gap: 1%; /* Espacio entre las tarjetas, el 1% del tamaño del contenedor (DIFERENCIA)*/
justify-content: center; /* Centra los elementos a lo largo del eje principal (horizontalmente) (DIFERENCIA)*/
}
.card-form-activities input,
.card-form-activities textarea {
text-align: center;
border-radius: 5%;
border: 5px solid #dddddd;
display: block;
width: 100%;
}
.card-form-activitiesr button{
display: block;
}
.card-activities{
width: 280px; /* Ancho de la tarjeta, el 10% del tamaño del contenedor  (DIFERENCIA)*/
background-color: #333; /* Color de fondo oscuro */
text-align: center; /* Alineación del texto al centro */
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Sombra más fuerte para la tarjeta */
height: 320px;
border: 5px solid #dddddd; /* Borde blanco alrededor de la imagen */
}
.card-activities img{
width: 280px; /* Imagen con ancho máximo del contenedor */
height: 160px;
}
.activity-Title{
width: 100%; /* Imagen con ancho máximo del contenedor */
height: 40px;
flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas si no caben en una sola */
background-color: #dddddd; /* Color de fondo oscuro */
white-space: normal; /* Permite el salto de línea dentro del cuadro emergente */
overflow-wrap: break-word; /* Permite romper palabras largas si es necesario */
color: #000000; /* Color del texto blanco */
}
.activity-Description {
width: 100%; /* Imagen con ancho máximo del contenedor */
height: 120px;
flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas si no caben en una sola */
white-space: normal; /* Permite el salto de línea dentro del cuadro emergente */
overflow-wrap: break-word; /* Permite romper palabras largas si es necesario */
color: #ffffff; /* Color del texto blanco */
}




















